@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';

  src: url('../fonts/roboto.woff2') format('woff2');
  src: url('../fonts/roboto.eot') format('embedded-opentype'),
       url('../fonts/roboto.otf') format('otf'),
       url('../fonts/roboto.svg') format('svg'),
       url('../fonts/roboto.ttf') format('truetype'),
       url('../fonts/roboto.woff') format('woff');
}


@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto';

  src: url('../fonts/robotomedium.woff2') format('woff2');
  src: url('../fonts/robotomedium.eot') format('embedded-opentype'),
       url('../fonts/robotomedium.otf') format('otf'),
       url('../fonts/robotomedium.svg') format('svg'),
       url('../fonts/robotomedium.ttf') format('truetype'),
       url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto';
  
  src: url('../fonts/robotobold.woff2') format('woff2');
  src: url('../fonts/robotobold.eot') format('embedded-opentype'),
       url('../fonts/robotobold.otf') format('otf'),
       url('../fonts/robotobold.svg') format('svg'),
       url('../fonts/robotobold.ttf') format('truetype'),
       url('../fonts/robotobold.woff') format('woff');
}
