// Color names - http://chir.ag/projects/name-that-color/

$white: #ffffff;
$black: #000000;
$wax_flower: #ffbc9e;
$mine_shaft: #323232;
$scorpion: #5a5a5a;
$quill_gray: #d3d3d2;
$cloud: #c7c6c5;
$dusty_gray: #999999;
$cornflower: #8fbdec;
$pampas: #f8f7f4;
$mantle: #849d8f;
$cinnabar: #e84d37;
$Jaffa: #f26843;
$burnt_sienna: #ec6f5e;
$sandy_brown: #f58669;
$cinderella: #fbded7;
$manhattan: #f6b5a5;
$chestnut_rose: #d07058;
$anakiwa: #92cdff;
$mona_lisa: #fe9e90;
$dove_gray: #696969;
$quill_gray: #d1d0ce;
$black_haze: #e6ebe9;
$gallery: #eaeaea;
$regent_gray: #8996a6;
$pharlap: #9d8b84;

$transparent: rgba(255, 255, 255, 0.2);
$decoration_transparent: rgba(255, 255, 255, 0.6);

// Body
$base_text_color: $mine_shaft;

// Headings
$base_headings_color: $mine_shaft;

// Links
$base_link_color: $white;
$hover_link_color: $wax_flower;

