@font-face {
  font-family: 'robotomedium';
  src: url(./robotomedium.eot);
  src: url(./robotomedium.eot?#iefix) format('embedded-opentype'),
       url(./robotomedium.otf) format('otf'),
       url(./robotomedium.svg#robotomedium) format('svg'),
       url(./robotomedium.ttf) format('truetype'),
       url(./robotomedium.woff) format('woff'),
       url(./robotomedium.woff2) format('woff2');
}
