.crumbs {
  padding: 20px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet_and_bigger {
      justify-content: flex-start;
    }
  }

  &__item {
    color: white;
    font-size: 14px;

    &:not(:last-child) {
      &::after {
        content: "\00BB";
        margin: 0 10px;
      }
    }

    &:last-child {
      
      .crumbs__link {
        text-decoration: none;
        cursor: default;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
